html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: auto;
  font-size: calc(10px + 2vmin);
  color: var(--grey-800);
}

a {
  color: var(--red);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

code {
  font-family: var(--font-monospace);
}
