html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: auto;
  font-family: var(--font-sans-serif);
  font-size: calc(10px + 2vmin);
  color: var(--grey-850);
}

#img {
  display: block;
  width: 128px;
  height: 16.8rem;
  padding: 0;
  margin: 2rem auto;
}

p {
  display: block;
  margin: 1rem auto;
  text-align: center;
}

#counter {
  padding: 4px 8px;
  color: var(--grey-000);
  background-color: var(--accent);
  border-radius: 4px;
}

a {
  color: var(--accent);
}
