---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro"
import logo from "/assets/logo.svg"
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let seconds = 0

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<BaseLayout title="Home">
  <section class="home">
    <h1>Home</h1>
    <img src={logo} class="logo" alt="logo" />
    <p>Page has been open for <code id="counter">{seconds}</code> seconds.</p>
    <a
      class="App-link"
      href="https://astro.build"
      target="_blank"
      rel="noopener noreferrer"
    >
      Learn Astro
    </a>
  </section>
  <script>
    const counter = document.querySelector("#counter")
    let seconds = 0
    console.log("Hello")

    function timer() {
      setInterval(() => {
        seconds += 1
        counter.textContent = seconds.toString()
      }, 1000)
    }
    timer()
  </script>
</BaseLayout>
