.counter {
  margin: 5rem 0;
  text-align: center;
  p {
    margin: 0.4rem;
  }
}

button {
  border: 0;
  color: var(--dark-blue);
  font-size: 3rem;
  height: 6rem;
  margin: 3rem 0.2rem;
  width: 6rem;
}

.count {
  color: var(--light-blue);
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  width: 10rem;
  text-overflow: clip;
}
