@use './foundation/colors' as c;

.counter {
  margin: 5rem 0;
  text-align: center;
  p {
    margin: 0.4rem;
  }
}

button {
  border: 0;
  color: c.$dark-blue;
  font-size: 3rem;
  height: 6rem;
  margin: 3rem 0.2rem;
  width: 6rem;
}

.count {
  color: c.$light-blue;
  font-size: 3rem;
  font-weight: bold;
  margin: 3rem 2rem;
}
