html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: auto;
  font-family: var(--font-sans-serif);
  font-size: calc(10px + 2vmin);
  color: var(--grey-850);
}
p {
  line-height: 1.75;
}

button {
  background-color: hsl(0, 100%, 100%);
  padding: 1rem;
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 0.2rem;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  text-align: center;
}
